<div class="container">
    <div class="card">
      <div class="card-header">
        Date:
        <strong>{{bill_date | date}}</strong>
  
      </div>
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-sm-6">
            <h6 class="mb-3">From:</h6>
            <div>
              <strong>AANCHAL FASHION DESIGN AND BOUTIQUE</strong>
            </div>
            <div>Madalinskiego 8</div>
            <div>Ahmedabad</div>
            <div>Email: aanchal@gmail.com</div>
            <div>Phone: +91 1234567890</div>
          </div>
  
          <div class="col-sm-6">
            <h6 class="mb-3">To:</h6>
            <div>
              <strong>{{name | uppercase }}</strong>
            </div>
            <div>{{address}}</div>
            <div>Ahmedabad</div>
            <div>Email: {{email_id}}</div>
            <div>Phone: +91 {{mobile_no}}</div>
            </div>
        </div>
  
        <br>
        <br>
  
        <div class="table-responsive-sm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="center">No</th>
                <th>Items</th>
                <th>Color</th>
                <th>Size</th>
  
                <th class="right">Unit Cost</th>
                <th class="center">Quantity</th>
                <th class="right">Total</th>
              </tr>
            </thead>
            <tbody>
        
                
  
              <tr *ngFor="let item of bill_details_arr">
                <td class="center">{{item.no}}</td>
                <td class="left">{{item.item}}</td>
                <td class="left">{{item.color}}</td>
  
                <td class="right">{{item.size}}</td>
                <td class="center">{{item.unitcost | currency:'INR'}}</td>
                <td class="right">{{item.qty}}</td>
                <td class="right">{{item.total | currency:'INR'}}</td>
              </tr>
            
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-5">
  
          </div>
  
          <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
              <tbody>
                <tr>
                  <td class="left">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="right">{{subtotal | currency:'INR'}}</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>CGST (2.5%)</strong>
                  </td>
                  <td class="right">{{CGST | currency:'INR'}}</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>SGST (2.5%)</strong>
                  </td>
                  <td class="right">{{SGST | currency:'INR'}}</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Total</strong>
                  </td>
                  <td class="right">
                    <strong>{{Grand_total | currency:'INR'}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  
  
  
  <!-- <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile colspan=2>1
           
  
  
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    
  </mat-grid-list> -->