<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"><img src="http://localhost:3000/images/AANCHAL_LOGO.jpg" height="70px" width="200px"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['product_home']" routerLinkActive="router-link-active" >Product Management</a>
      <a mat-list-item [routerLink]="['category_home']" routerLinkActive="router-link-active" >Category Management</a>
      <a mat-list-item [routerLink]="['supplier_home']" routerLinkActive="router-link-active" >Supplier Management</a>
      <a mat-list-item [routerLink]="['bill_home']" routerLinkActive="router-link-active" >Bill Management</a>
      <a mat-list-item [routerLink]="['../']" routerLinkActive="router-link-active" >Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>admin</span>
    </mat-toolbar>
    <!-- Add Content Here -->;
    <!-- <img src='http://localhost:3000/images/AANCHAL_LOGO.JPG'class="center"> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
