<div class="container">
    <h1>Add-Category</h1>


    <form class="example-form" (ngSubmit)="onclickAdd()" #f="ngForm" name="Add_product_form">
      <mat-form-field class="example-full-width">
        <input matInput name="Category_name" ngModel #category_name="ngModel" required placeholder="Category Name"
        (keypress)="keyPressText($event)" [(ngModel)]="Category_name">

          <mat-error *ngIf="category_name?.hasError('required')">
          Category Name Is Required
        </mat-error>

      </mat-form-field>

      <br><br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid ">ADD</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="warn"  mat-dialog-close (click)="onclickCancle()">CANCEL</button>

  </form>
</div>


