/* .example-form {
  width: 0%;
}

.example-full-width {
  width: 100%;
} */
.atag
{
  text-align: right;
}

.example-full-width {
  width: 400px;
  margin-left: 100px;
  margin-top:30px;
}


body
{
  background-image: url("../../assets/img/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
}

input
{
    z-index: auto;
    border-radius: 30px;
    width:85%;
    height:45px;
    background:transparent;
    border:3px solid white;
}

.btn-general
{
    font-family: tahoma;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 0px;
    padding: 12px 46px 12px 46px;
    transition: all 0.4s;
    background-color: blueviolet;
    color:white;
    cursor: pointer;
}

label
{
  color: white;
  font-size:30px;
  font-weight: bolder;
}

.loginpg
{
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.4);
  margin-top:230px;
  position: relative;
}

