<div class="container">
  <!-- <div class="rows"><h1>Withdrawal Request</h1></div> -->

  <form
    class="example-form"
    (ngSubmit)="onclickAdd()"
    #f="ngForm"
    name="Bill_form"
  >

    <button mat-flat-button color="primary" (click)="isLinear = !isLinear" id="toggle-linear">
      {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
    </button>
    <mat-horizontal-stepper [linear]="isLinear" #stepper class="full-width">
      <mat-step [stepControl]="firstFormGroup">
        <!-- <form [formGroup]="firstFormGroup"> -->
        <ng-template matStepLabel>Enter the Employee Email_id</ng-template>
        <mat-form-field class="example-form">
          <mat-select
            (selectionChange)="onemployeeChange()"
            placeholder="Email id"
            required
            email
            #email_id="ngModel"
            name="Email_id"
            [(ngModel)]="selected_employee"
            class="example-full-width"
          >
            <mat-option *ngFor="let item of employee_list" [value]="item">
              {{ item.Email_id }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="email_id?.hasError('required')">
            Employee must be required.
          </mat-error>
        </mat-form-field>
        <div><button mat-flat-button color="primary" matStepperNext (click)="onclickemp()">Next</button></div>
        <!-- </form> -->
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <!-- <form [formGroup]="secondFormGroup"> -->
        <ng-template matStepLabel>Select Withdrawal Amount</ng-template>
        <mat-form-field class="example-form">
          <mat-select
            (selectionChange)="onwithdrawalamountChange()"
            placeholder="Withdrawal Amount"
            required
            #withdrawal_amt="ngModel"
            name="withdrawal_amt"
            [(ngModel)]="selected_amount"
            class="example-full-width"
          >
            <mat-option *ngFor="let item of withdrawal_amount" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="withdrawal_amt?.hasError('required')">
            Please select the withdrawal amount.
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
        <!-- </form> -->
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <!-- <form [formGroup]="secondFormGroup"> -->
        <ng-template matStepLabel>Select EMI option</ng-template>

          <mat-radio-group
            class="example-radio-group"
            [(ngModel)]="selected_opt"
            name="emi_opt"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let item of emi_option"
              [value]="item"
            >
              {{item}}
            </mat-radio-button>
          </mat-radio-group>

        <div>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button> &nbsp;&nbsp;&nbsp;
          <button mat-flat-button color="primary" (click)="next()" matStepperNext>Next</button>
        </div>
        <!-- </form> -->
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;
          <button mat-flat-button color="primary" (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
