mat-horizontal-stepper{
  width: 100%;
  height: 100%;
}

mat-select{
  margin-top: 35px;
  padding-left: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width:100%;
}

.example-margin {
  margin: 0 10px;
}

.full-width
{
  width:1100px;
  height:250px;
}


.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.example-button-row button,
.example-button-row a {
  margin-right: 10px;
  padding:20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

thead {
  background-color: #dddddd;
}

mat-radio-button ~ .mat-radio-button {
  margin-left: 50px;
}
